<div class="flex flex-col gap-2" data-mrs-config="">
	<p class="border-b border-solid border-b-indigo-400/50 text-sm">
		manga reading script v2 configuration
	</p>
	<p class="border-b border-solid border-b-indigo-400/50 text-sm">
		Current Title:
		<span data-mrs-title-current=""></span>
	</p>
	<div class="flex flex-col gap-0.5 border-b border-solid border-b-indigo-400/50 pb-1 text-sm">
		<label for="ptApiUrl"> Progress Tracker Api Url: </label>
		<input
			type="text"
			class="border-none bg-transparent pb-2 font-mono text-xs outline-4 outline-transparent focus:outline-indigo-500/80"
			id="ptApiUrl"
			data-mrs-pt-api-url=""
		/>
	</div>
	<div class="flex flex-col gap-0.5 border-b border-solid border-b-indigo-400/50 pb-1 text-sm">
		<label for="ptApiBearerToken"> Progress Tracker Api BEARER TOKEN: </label>
		<input
			type="text"
			class="border-none bg-transparent pb-2 font-mono text-xs outline-4 outline-transparent focus:outline-indigo-500/80"
			id="ptApiBearerToken"
			data-mrs-pt-api-bearer-token=""
		/>
	</div>
	<div class="flex flex-col gap-0.5 border-b border-solid border-b-indigo-400/50 pb-1 text-sm">
		<label for="titleList"> Titles to remove gaps from: </label>
		<textarea
			class="min-h-24 resize-y border-none bg-transparent pb-2 font-mono text-xs outline-4 outline-transparent focus:outline-indigo-500/80"
			id="titleList"
			rows="12"
			data-mrs-title-list=""
		></textarea>
	</div>
	<div class="flex justify-between border-b border-solid border-b-indigo-400/50 pb-1">
		<div class="flex justify-end gap-2">
			<button
				class="cursor-pointer border-none bg-indigo-800 px-1 text-sm text-gray-200 outline outline-4 outline-transparent transition-all hover:bg-indigo-600 hover:outline-indigo-500/80 disabled:cursor-default disabled:bg-indigo-900/70"
				disabled=""
				data-mrs-title-current-add=""
			>
				Add
			</button>
			<button
				class="cursor-pointer border-none bg-indigo-800 px-1 text-sm text-gray-200 outline outline-4 outline-transparent transition-all hover:bg-indigo-600 hover:outline-indigo-500/80 disabled:cursor-default disabled:bg-indigo-900/70"
				disabled=""
				data-mrs-title-current-remove=""
			>
				Remove
			</button>
		</div>
		<div class="flex justify-end gap-2">
			<button
				class="cursor-pointer border-none bg-indigo-800 px-1 text-sm text-gray-200 outline outline-4 outline-transparent transition-all hover:bg-indigo-600 hover:outline-indigo-500/80 disabled:cursor-default disabled:bg-indigo-900/70"
				data-mrs-title-list-reset=""
			>
				Reset
			</button>
			<button
				class="cursor-pointer border-none bg-indigo-800 px-1 text-sm text-gray-200 outline outline-4 outline-transparent transition-all hover:bg-indigo-600 hover:outline-indigo-500/80 disabled:cursor-default disabled:bg-indigo-900/70"
				data-mrs-title-list-save=""
			>
				Save
			</button>
		</div>
	</div>
</div>
