<li
	aria-live="polite"
	aria-atomic="true"
	role="status"
	tabindex="0"
	class="pointer-events-auto box-border flex w-80 touch-none items-center gap-1.5 text-wrap rounded-sm border border-solid border-gray-100 bg-black p-4 shadow outline-none transition-[box-shadow] duration-400 focus-visible:shadow-sm"
>
	<div data-content="" class="flex flex-col gap-0.5">
		<div data-title="" class="font-medium leading-normal text-gray-100"></div>
		<div data-description="" class="font-normal leading-snug text-gray-300"></div>
	</div>
</li>
