<div
	class="nws-lib-frame fixed inset-0 isolate z-[999999] flex items-center justify-center p-4 font-sans"
>
	<div
		class="flex max-h-[90dvh] w-full max-w-prose flex-col bg-gray-950/90 p-2 text-gray-200 shadow-gray-950"
	>
		<header>
			<h1 class="mb-2 text-lg">NWS Lib Frame - Configuration UI</h1>
		</header>
		<main class="flex flex-col gap-2 overflow-y-auto">
			<div class="border-b border-b-indigo-400">
				<label class="text-sm" for="nws-debugging-checkbox">
					Debugging:
					<div class="nws-checkbox-container nws">
						<input
							class="nws-checkbox nws"
							type="checkbox"
							id="nws-debugging-checkbox"
							data-nws-lib-debugging-checkbox=""
						/>
						<svg viewBox="0 0 24 24">
							<path d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
						</svg>
					</div>
				</label>
			</div>
			<div class="flex flex-col gap-2" data-nws-lib-sub-config-target=""></div>
		</main>
		<footer class="flex items-end justify-between">
			<h2>
				<a
					class="text-xs text-indigo-400 hover:text-indigo-300"
					href="https://userscripts.skaarup.dev"
					target="_blank"
					referrerpolicy="no-referrer"
				>
					userscripts.skaarup.dev
				</a>
			</h2>
			<div class="nws-buttons-container nws">
				<div class="flex justify-end gap-2">
					<button
						class="border-none bg-indigo-800 text-gray-200 transition-[outline,background-color] hover:bg-indigo-600 hover:outline-4 hover:outline-indigo-500/80"
						data-nws-lib-close=""
					>
						Close
					</button>
				</div>
			</div>
		</footer>
	</div>
</div>
