<div
	class="nws-lib-frame fixed inset-0 isolate z-[999999] flex items-center justify-center p-4 font-sans"
>
	<div
		class="absolute inset-0 -z-10 overscroll-none bg-black/5 backdrop-blur-sm"
		data-nws-lib-backdrop=""
	></div>
	<div
		class="z-10 flex max-h-[90dvh] w-full max-w-prose flex-col bg-gray-950/90 p-2 text-gray-200 shadow-gray-950 backdrop-blur-sm"
	>
		<header class="border-b border-solid border-b-indigo-400/50">
			<h1 class="text-base">NWS Lib Frame - Configuration UI</h1>
		</header>
		<main class="flex flex-col gap-2 overflow-y-auto">
			<div class="border-b border-solid border-b-indigo-400/50">
				<label class="inline-flex items-center gap-2 text-xs" for="nws-debugging-checkbox">
					Debugging:
					<input
						class="cursor-pointer"
						type="checkbox"
						id="nws-debugging-checkbox"
						data-nws-lib-debugging-checkbox=""
					/>
				</label>
			</div>
			<div class="flex flex-col gap-2" data-nws-lib-sub-config-target=""></div>
		</main>
		<footer class="flex items-end justify-between pt-1">
			<a
				class="text-xs text-indigo-400 hover:text-indigo-300"
				href="https://userscripts.skaarup.dev"
				target="_blank"
				referrerpolicy="no-referrer"
			>
				userscripts.skaarup.dev
			</a>
			<div class="nws-buttons-container nws">
				<div class="flex justify-end gap-2">
					<button
						class="cursor-pointer border-none bg-indigo-800 px-1 text-sm text-gray-200 outline outline-4 outline-transparent transition-all hover:bg-indigo-600 hover:outline-indigo-500/80 disabled:cursor-default disabled:bg-indigo-900/70"
						data-nws-lib-close=""
					>
						Close
					</button>
				</div>
			</div>
		</footer>
	</div>
</div>
