body > div::last-of-type {
	padding-bottom: 120px;
}

div.truyen-list > div.list-truyen-item-wrap > .genres-item-info {
	display: flex;
	flex-flow: column nowrap;
	gap: 4px;
	box-sizing: border-box;
	padding: 4px;
	/*background-color: rgb(24, 26, 27, 0.4);*/
	float: none;
	flex-grow: 1;
}

div.truyen-list > div.breadcrumb {
	grid-column: span 2;
}

div.truyen-list {
	display: grid;
	grid-gap: 12px;
	grid-template-columns: calc(50% - 6px) calc(50% - 6px);
}

div.truyen-list > div.list-truyen-item-wrap * {
	float: unset !important;
}

div.truyen-list > div.list-truyen-item-wrap {
	backdrop-filter: blur(3px);
	margin: 0;
	width: auto;
	background-color: rgb(24, 26, 27, 0.2);
	background: none;
	transition: background-color linear 0.15s;
	padding: 4px;
	display: flex;
	gap: 4px;
}

div.truyen-list > div.list-truyen-item-wrap.nws-genre-all-active-item {
	background-color: rgb(4, 126, 123, 0.3);
	transition: background-color linear 0s;
}

div.truyen-list > div.list-truyen-item-wrap > .genres-item-img {
	margin: 0;
}

div.truyen-list > div.list-truyen-item-wrap {
	display: grid;
	grid-template:
		'img title' auto
		'img link' auto
		'img description' 1fr / 123px 1fr;
}

div.truyen-list > div.list-truyen-item-wrap > .list-story-item {
	grid-area: img;
}
div.truyen-list > div.list-truyen-item-wrap > h3 {
	grid-area: title;
}
div.truyen-list > div.list-truyen-item-wrap > a.list-story-item-wrap-chapter {
	grid-area: link;
}
div.truyen-list > div.list-truyen-item-wrap > p {
	grid-area: description;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	height: fit-content;
}

div.truyen-list > div.list-truyen-item-wrap > .genres-item-info > .genres-item-chap,
div.truyen-list > div.list-truyen-item-wrap > .genres-item-info > .genres-item-view-time,
div.truyen-list > div.list-truyen-item-wrap > .genres-item-info > h3 {
	min-height: 22px;
	height: 22px;
}

div.truyen-list > div.list-truyen-item-wrap > .genres-item-info > .genres-item-description {
	height: auto;
	flex-grow: 1;
}

div.truyen-list > div.list-truyen-item-wrap > div,
div.truyen-list > div.list-truyen-item-wrap > br,
div.truyen-list > div.list-truyen-item-wrap > a.read-more {
	display: none;
}
