body>div.body-site {
  padding-bottom: 120px;
}

div#panel-story-info-description {
  max-height: none !important;
}


div#panel-description-linear,
span#panel-story-info-description-show-more,
span#panel-story-info-description-show-less {
  display: none !important;
}
